{% extends 'main.html' %} {% block content %}
<h1>Home Template</h1>

<!--SS Grid layout -->
<div style="display: grid; grid-template-columns: 25% auto; gap: 20px">
  <div>
    {% include 'base/topics_component.html'%}
  </div>


  <div style="display: flex; flex-direction: column">
    <div style="display: flex; flex-wrap: wrap">

      {% include 'base/feed_component.html'%}
      

      <div style="margin-right: 20px; margin-bottom: 20px">
        <h3>What's New?</h3>
        <a href="{% url 'readmore' %}"><h5>Read more</h5></a>
      </div>

      <div style="margin-right: 20px; margin-bottom: 20px">
          {% include 'base/activity_component.html' %}
      </div>

      <div style="margin-right: 20px; margin-bottom: 20px">
        <h5>{{room_count}} room available</h5>
        <a href="{% url 'create-room' %}">Create a Room</a>
      </div>

      <div style="margin-right: 20px; margin-bottom: 20px">
        <a href="{% url 'create-room' %}">Work with Data</a>
      </div>
      <div style="margin-right: 20px; margin-bottom: 20px">
        <a href="{% url 'create-room' %}">Projects</a>
      </div>
   <div style="margin-right: 20px; margin-bottom: 20px">
        <a href="{% url 'create-room' %}">More Stuff</a>
      </div><div style="margin-right: 20px; margin-bottom: 20px">
        <a href="{% url 'create-room' %}">More Stuff</a>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
